# One Hot Encoding
Encoding Categorial Data

In [42]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [51]:
df = pd.read_csv("Datasets/data.csv" , encoding='Windows-1252')
df = df.iloc[:,:2]
df.head()

                                             College Playground
0  001 A. D. Patel Institute Of Technology, Karam...        Yes
1  002 AHMEDABAD INSTITUTE OF TECH, AHMEDABAD (Id...        Yes
2  003 Atmiya Institute of Technology & Science (...        Yes
3  004 B.H.GARDI COLLEGE OF ENGG. & TECHNOLOGY , ...        Yes
4  005 BABARIA INSTITUTE OF TECHNOLOGY,VARNAMA,VA...        Yes

In [52]:
encoder = OneHotEncoder(sparse=False)
df = df.iloc[:-1,:]
data = encoder.fit_transform(df[['Playground']])
data

c:\Users\anees\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [54]:
encoded_columns = encoder.get_feature_names_out(['Playground'])
encoded_df = pd.DataFrame(data, columns=encoded_columns)
encoded_df = encoded_df.iloc[:,1:2]
encoded_df

       Playground_Yes
0                 1.0
1                 1.0
2                 1.0
3                 1.0
4                 1.0
...               ...
25782             0.0
25783             1.0
25784             1.0
25785             1.0
25786             0.0

[25787 rows x 1 columns]

In [55]:
df = df.drop('Playground', axis=1)
df = pd.concat([df, encoded_df], axis=1)

In [56]:
df.head()

                                             College  Playground_Yes
0  001 A. D. Patel Institute Of Technology, Karam...             1.0
1  002 AHMEDABAD INSTITUTE OF TECH, AHMEDABAD (Id...             1.0
2  003 Atmiya Institute of Technology & Science (...             1.0
3  004 B.H.GARDI COLLEGE OF ENGG. & TECHNOLOGY , ...             1.0
4  005 BABARIA INSTITUTE OF TECHNOLOGY,VARNAMA,VA...             1.0