In [3]:
import pandas as pd

In [4]:
data = [
    {'student_id': 101, 'name': 'Ulysses', 'age': 13},
    {'student_id': 53, 'name': 'William', 'age': 10},
    {'student_id': 128, 'name': 'Henry', 'age': 6},
    {'student_id': 3, 'name': 'Henry', 'age': 11}
]

# Create the DataFrame
df = pd.DataFrame(data)

In [6]:
df['age'] == 13

0     True
1    False
2    False
3    False
Name: age, dtype: bool

In [11]:
df[df['age'] == 13][['name','age']]

      name  age
0  Ulysses   13